<footer class="footer">
  <div class="f-info">
    <div class="f-info-left">
      <span>&copy; 2025 Wanderlust Private Limited</span>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms">Terms & Conditions</a>
      <a href="/contact-us">Contact Us</a>
    </div>
    <div class="f-info-right">
      <i class="fa-solid fa-globe"></i> English (IN) <span>&#8377;</span> INR
      <a href="https://www.facebook.com"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.instagram.com/ig_saikatt/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </div>
</footer>
