<%- layout("/layouts/boilerplate") %>
<div class="container mt-5">
  <h2>Terms and Conditions</h2>
  <p>
    By using our website, you agree to our terms and conditions. All bookings are subject to availability and confirmation. Users are responsible for providing accurate information. We reserve the right to modify these terms at any time.
  </p>
</div>